body {
	color: #50545c;
	background-color: #1c1c1c;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 1.55;
	word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-family: "Playfair Display", serif;
}
a,
a:hover {
	text-decoration: none;
}
a {
	color: #23b6b6;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
a:hover {
	color: #333;
}
.bypostauthor {
	display: block;
}


/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/



/*--------------------------------------------------------------
Posts nav
--------------------------------------------------------------*/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	overflow: hidden;
	margin: 45px 0;
}
.site-main .comment-navigation a,
.site-main .posts-navigation a,
.site-main .post-navigation a {
	color: #fff;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	max-width: 50%;
	padding: 15px;
	background-color: #17191b;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	max-width: 50%;
	padding: 15px;
	background-color: #17191b;
	text-align: right;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.nav-previous:hover,
.nav-next:hover {
	background-color: #23b6b6;
}
.blog .nav-previous {
	margin-left: 15px;
}
.blog .nav-next {
	margin-right: 15px;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	width: 1px;
	height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	display: block;
	clip: auto !important;
	z-index: 100000; /* Above WP toolbar. */
	top: 5px;
	left: 5px;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	color: #21759b;
	background-color: #f1f1f1;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

/*修改*/
.widget-area {
	overflow-y: auto;
	position: fixed;
	z-index: 99;
	top: 0;
	left: -360px;
	width: 260px;
	height: 100%;
	padding: 30px;
	background-color: #17191b;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.widget-area,
.widget-area a {
	color: #f9f9f9;
}
.widget-title {
	margin: 0 0 20px;
	color: inherit;
}
.widget-area a:hover {
	color: #23b6b6;
}
.admin-bar .widget-area {
	top: 32px;
}
.widget-area-visible {
	left: 0;
}
.sidebar-toggle {
	position: fixed;
	z-index: 101;
	top: 20px;
	left: 75px;
	color: #fff;
	text-shadow: 0 0 1px #000;
	font-size: 28px;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.admin-bar .sidebar-toggle {
	top: 52px;
}
/*修改*/
.sidebar-toggled {
	left: 260px;
}
.sidebar-nav {
	margin-bottom: 30px;
}
.widget {
	margin: 0 0 30px;
}
.widget ul {
	padding: 0 0 0 20px;
}
.widget .children {
	padding-left: 30px;
}
.widget li {
	padding: 3px 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Default widgets */
.widget_recent_entries ul,
.widget_archive ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_categories ul {
	padding: 0;
	list-style: none;
}
.widget_recent_entries li::before,
.widget_archive li::before,
.widget_pages li::before,
.widget_recent_comments li::before,
.widget_categories li::before {
	font-family: Fontawesome;
	font-size: 15px;
}
.widget_recent_entries li::before {
	content: "\f040";
}
.widget_archive li::before {
	margin-right: 5px;
	content: "\f133";
}
.widget_pages li::before {
	margin-right: 5px;
	content: "\f016";
}
.widget_recent_comments li::before {
	margin-right: 5px;
	content: "\f0e5";
}
.widget_categories li::before {
	margin-right: 5px;
	content: "\f114";
}

#secondary select {
	color: #414141;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
	display: block;
}

.hentry {
	margin: 0;
	padding: 60px;
	background-color: #fff;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-title {
	margin: 0 0 15px;
}
.single .entry-header,
.page .entry-header {
	margin-bottom: 30px;
	text-align: center;
}
.entry-title a {
	color: #000;
}
.entry-title a:hover {
	color: #23b6b6;
}
.grid-layout .entry-title {
	font-size: 28px;
}
.post-meta,
.post-meta a {
	color: #fff;
}
.entry-meta,
.entry-footer {
	margin-bottom: 15px;
	font-size: 12px;
}
.entry-footer {
	clear: left;
	margin-top: 15px;
}
.entry-meta,
.entry-meta a,
.entry-footer,
.entry-footer a {
	color: #9d9d9d;
}
.entry-meta a:hover {
	color: #23b6b6;
}
.posted-on,
.author {
	margin-right: 8px;
}
.posted-on:after,
.author:after {
	margin-left: 8px;
	content: "/";
}
.read-more {
	padding: 15px 30px 30px;
	background-color: #23b6b6;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	color: #fff;
}
.read-more:hover {
	background-color: #17191b;
}
.read-more a {
	position: relative;
	z-index: 99;
	color: #fff;
}
.single-thumb {
	margin-bottom: 30px;
	text-align: center;
}
.entry-thumb {
	position: relative;
	z-index: 9;
	text-align: center;
}
.entry-thumb:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: rgba(35, 182, 182, 0.4);
	content: "";
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}
.entry-thumb:hover:after {
	height: 100%;
}
.thumb-link {
	position: absolute;
	z-index: 99;
	top: 40%;
	left: 45%;
	opacity: 0;
	color: #fff;
	font-size: 38px;
	-webkit-transition: all 0.4s 0.3s;
	transition: all 0.4s 0.3s;
}
.thumb-link-wrap {
	float: left;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.entry-thumb:hover .thumb-link {
	opacity: 1;
}

.page-header {
	margin: 0;
	margin-top: -1px;
	padding: 30px;
	border: 0;
	background-color: #17191b;
}
.page-header .page-title {
	margin: 0;
	color: #fff;
	text-align: center;
}
.taxonomy-description {
	margin: 15px 0 0;
	text-align: center;
}
.archive .site-header,
.error404 .site-header {
	margin-bottom: 0;
}
.error404 .page-content {
	margin-top: 60px;
	color: #fff;
	text-align: center;
}
.archive.author {
	margin: 0;
}


/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

.comments-area {
	margin-bottom: 60px;
}
.comments-title {
	margin: 0;
	padding: 30px;
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
	font-size: 24px;
}
.comments-area ol {
	list-style: none;
}
.comments-area ol {
	padding: 0;
}
.comments-area .children {
	padding-left: 20px;
}

.comment-author .avatar {
	position: absolute;
}
.comment-author .fn,
.comment-metadata {
	margin-left: 80px;
}
.comment-metadata {
	margin-bottom: 30px;
	font-size: 12px;
}
.comment-body {
	margin-bottom: 15px;
	padding: 30px;
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
}
.reply {
	text-align: right;
}
.comment-reply-link {
	padding: 5px;
	background-color: #fff;
	font-size: 12px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
a.comment-reply-link {
	text-decoration: none;
}
a.comment-reply-link:hover {
	color: #000;
	-webkit-box-shadow: 0 0 1px #505050;
	box-shadow: 0 0 1px #505050;
}
.comments-area a.url {
	text-decoration: underline;
}
.comment-metadata a,
.comments-area a.url {
	color: #444;
}

.comment-respond {
	margin-top: 60px;
}
.comment-form,
.comment-respond .comment-reply-title {
	color: #fff;
}
.comment-form .form-submit {
	margin-top: 30px;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
/* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}












/*--------------------------------------------------------------
Social Menu    浠ヤ笅闇�
--------------------------------------------------------------*/

.social-navigation ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.social-navigation li {
	display: inline-block;
	position: relative;
	line-height: 1;
	list-style: none;
}
.menu-social-container {
	overflow: hidden;
}
.social-navigation li a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.social-navigation li a::before {
	display: block;
	font-family: FontAwesome;
	font-size: 20px;
}
.social-navigation li a:hover {
	color: #23b6b6;
}
.social-navigation li a[href*="twitter.com"]::before {
	content: "\f099";
}
.social-navigation li a[href*="facebook.com"]::before {
	content: "\f09a";
}
.social-navigation li a[href*="plus.google.com"]::before {
	content: "\f0d5";
}
.social-navigation li a[href*="dribbble.com"]::before {
	content: "\f17d";
}
.social-navigation li a[href*="pinterest.com"]::before {
	content: "\f0d2";
}
.social-navigation li a[href*="youtube.com"]::before {
	content: "\f167";
}
.social-navigation li a[href*="flickr.com"]::before {
	content: "\f16e";
}
.social-navigation li a[href*="vimeo.com"]::before {
	content: "\f194";
}
.social-navigation li a[href*="instagram.com"]::before {
	content: "\f16d";
}
.social-navigation li a[href*="linkedin.com"]::before {
	content: "\f0e1";
}
.social-navigation li a[href*="foursquare.com"]::before {
	content: "\f180";
}
.social-navigation li a[href*="tumblr.com"]::before {
	content: "\f173";
}
.social-navigation li a[href*="github.com"]::before {
	content: "\f09b";
}






















/*--------------------------------------------------------------
Menu
--------------------------------------------------------------*/

.main-navigation {
	display: none;
}
.slicknav_btn {
	display: none;
}
.slicknav_menu  .slicknav_menutxt {
	display: block;
	float: left;
	line-height: 1.188em;
}
.slicknav_menu .slicknav_icon {
	float: left;
	margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
	margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em;
}
.slicknav_nav {
	display: block !important;
	clear: both;
}
.slicknav_nav ul,
.slicknav_nav li {
	display: block;
}
.slicknav_nav li {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #222;
	text-transform: uppercase;
}
.slicknav_nav li ul li {
	text-transform: none;
}
.slicknav_nav li ul li:last-of-type {
	border-bottom: 0;
}
.slicknav_nav .slicknav_arrow {
	margin: 0 0 0 8px;
}
.slicknav_nav .slicknav_item {
	cursor: pointer;
}
.slicknav_nav .slicknav_row {
	display: block;
}
.slicknav_nav a {
	display: block;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	display: inline;
}
.slicknav_brand {
	float: left;
}
.slicknav_menu:before,
.slicknav_menu:after {
	display: table;
	content: " ";
}
.slicknav_menu:after {
	clear: both;
}













/* IE6/7 support */
.slicknav_menu {
	*zoom: 1;
}
.slicknav_menu {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}
.slicknav_menu * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.slicknav_nav li a {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.slicknav_nav li:hover a {
	margin-left: 10px;
}
.slicknav_nav {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 0.875em;
}
.slicknav_nav,
.slicknav_nav ul {
	overflow: hidden;
	list-style: none;
}
.slicknav_nav ul {
	margin: 0;
	padding: 0;
}
.slicknav_nav ul ul {
	margin-left: 10px;
}
.slicknav_nav .slicknav_row {
	margin: 0;
	padding: 5px 0;
}
.slicknav_nav a {
	margin: 0;
	padding: 5px 0;
	text-decoration: none;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	margin: 0;
	padding: 0;
}
.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}
.slicknav_brand {
	height: 44px;
	padding: 7px 12px;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
}







